# name: Build & Test (.NET)

# on:
#   pull_request:
#   push:
#     branches: [ develop ]

# permissions:
#   contents: read
#   checks: write

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v4

#     - name: Setup .NET
#       uses: actions/setup-dotnet@v4
#       with:
#         dotnet-version: '8.0.x'

#     - name: Restore
#       run: dotnet restore

#     # - name: Build
#     #   run: dotnet build --no-restore

#     # - name: Test with Coverage
#     #   run: |
#     #     dotnet test \
#     #       --collect:"XPlat Code Coverage" \
#     #       --results-directory ./coverage

#     # - name: Upload Coverage
#     #   uses: actions/upload-artifact@v4
#     #   with:
#     #     name: coverage
#     #     path: coverage

#     - name: Build
#       run: dotnet build --configuration Release

#     - name: Run Unit Tests
#       run: |
#         dotnet test \
#           --configuration Release \
#           --logger "trx" \
#           --results-directory TestResults

#     - name: Publish Test Results
#       if: always()
#       uses: dorny/test-reporter@v1
#       with:
#         name: Unit Tests
#         path: TestResults/*.trx
#         reporter: dotnet-trx

#     - name: Upload Test Artifacts
#       uses: actions/upload-artifact@v4
#       with:
#         name: test-results
#         path: TestResults

#     - name: Run Tests with Coverage
#       run: |
#         dotnet test \
#           --collect:"XPlat Code Coverage" \
#           --results-directory TestResults


#     - name: Upload Coverage
#       uses: actions/upload-artifact@v4
#       with:
#         name: coverage
#         path: TestResults/**/coverage.cobertura.xml

#     - name: Publish Coverage Summary
#       uses: irongut/CodeCoverageSummary@v1.3.0
#       with:
#         filename: TestResults/**/coverage.cobertura.xml
#         badge: true
#         format: markdown
#         output: both


    


